<html>
  <head>
    <title>Meadowlark Travel</title>
    {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}
    {{{body}}}
    <header><img src="/img/nodelogo.jpg" alt="Our logo" width="275" height="275"></header>
    {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui("tdd");
        var assert = chai.assert;
      </script>
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
  </body>
</html>
