doctype html
html(lang="en")
  head
    meta(charset="utf8")
    title Our Page Title
    script(type="text/javascript")
  body
    header
      // Here goes a visible comment
      //- Here goes a non-visible comment
      h1 HTML5 <i>News-Press</i>
      nav
        ul
          li: a(href="#") World
          li: a(href="#") National
            a(href="#") Metro Area
          li
            a(href="#") Arts and Entertainment
        - for (var x = 2 ; x < 5 ; x++)
          p= x*4
      article.test
        p(style={color: "red", background: "green"}) ok
        - var classes = ["one", "two", "three"]
        a.test(class=classes)
        .ourdiv
        #seconddiv
        a: img
        - var friends = 5
        case friends
          when 5: p five
          when 10: p ten
          when 8
            p eight
          when 0
            - break
          default
            p something's not right
        - var ifauth = 2
        if ifauth == 4
          p= "hehe " + ifauth
        else if ifauth == 5
          p= "okay " + ifauth
        else
          p= "okay " + ifauth
        - var unleTest = true
        unless unleTest
          p unless works
